{#
  /**
  * @file
  * Default theme implementation to display an ECK entity.
  *
  * Available variables:
  * - eck_entity: The full ECK entity with limited access to object properties
  *   and methods. Only "getter" methods (method names starting with "get",
  *   "has", or "is") and a few common methods such as "id" and "label" are
  *   available. Calling other methods (such as node.delete) will result in an
  *   exception.
  * - content: All ECK entity items. Use {{ content }} to print them all,
  *   or print a subset such as {{ content.field_example }}. Use
  *   {{ content|without('field_example') }} to temporarily suppress the printing
  *   of a given child element.
  * - attributes: HTML attributes for the containing element.
  *
  * @see template_preprocess_eck_entity()
  *
  * @ingroup themeable
  */
#}

{%
set classes = [
  'eck-entity',
  'Slide',
  'Slide-split'
]
%}
<div {{ attributes.addClass(classes) }}>

  <div class="Slide-image">
    {{ content.field_image }}
  </div>

  <div class="Slide-content">
    <div class="Slide-innerContainer">
      {{ title_prefix }}
      {{ title_suffix }}
      <div class="Slide-contentWrapper Slide-contentWrapper__left">
        <div class="Slide-image__left">
          {{ content.field_left_mobile_image }}
        </div>
        <div class="Slide-overlay">
          {{ content.field_headline }}
          {{ content.field_subhead }}
          {{ content.field_description }}
          {{ content.field_link }}
        </div>
      </div>
      <div class="Slide-contentWrapper Slide-contentWrapper__right">
        <div class="Slide-image__right">
          {{ content.field_right_mobile_image }}
        </div>
        <div class="Slide-overlay">
          {{ content.field_headline_2 }}
          {{ content.field_subhead_2 }}
          {{ content.field_description_2 }}
          {{ content.field_link_2 }}
        </div>
      </div>
    </div>
  </div>
</div>
